<header class="header header--{{type}}{{#if images}} header--has-images{{else}} header--no-images{{/if}}">
  <div class="header__container">
    <div class="header__inner">
      <a class="lp-logo lp-logo--{{type}} in-global-header" href="/">
        <svg class="svg-icon svg-icon--fill" viewBox="0 0 142 72" aria-label="Lonely Planet">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-logo"></use>
        </svg>
      </a>

      <button class="header__search js-lp-search">
        <i class="icon-search" aria-hidden="true"></i>
        <span class="header__search-text">Search {{search.title}}</span>
        <span class="header__search-beyond">and beyond</span>
      </button>

      <div class="header__navigation">
        {{> "components/navigation/navigation" }}
      </div>

      <div class="header__mobile header__mobile--left">
        <button class="header__mobile-search icon-search-thin js-lp-search">Search</button>
      </div>

      <div class="header__mobile js-header-mobile">
        {{!--
        <a class="header__mobile-cart icon-cart js-mobile-cart">Cart</a>
        --}}

        <button class="header__mobile-menu js-menu" aria-label="Menu">
          <i class="menu-icon" aria-hidden="true"></i>
        </button>
      </div>

    </div>
  </div>
</header>
